body {
    background-color: hotpink;
}
/* ESTILIZAÇÃO VIA TAG */
ul{
    background-color: paleturquoise;
    list-style: none;

}

li{
    /*cor de fundo*/
    background-color: springgreen;
    /*cor da letra*/
    color:chocolate;
    /*largura do elemento*/
    width: 200px;
    /*altura do elemento*/
    height: 50px;
    /*tamanho da fonte*/
    font-size: 30px;
    /*Espaço do elemento pra fora*/
    margin-left:auto;
    margin-right:auto;
}

h2{
    font-size: 25px;
    color: blue;
        /*estilo da fonte*/
    font-style: oblique;
    /*familia da fonte*/
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
